<div class="row">
  <div class="container">
    <div class="logo">
      <a
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        ><img src="../../../assets/APLogo.png" id="logoAP"
      /></a>
    </div>
    <div class="redes">
      <a href="https://www.linkedin.com/in/juan-pablo-cabral-75756b23a/"
        ><img src="../../../assets/linkedin.png" id="linkedin"
      /></a>
      <a href="https://www.instagram.com/juan_pablo_cabral_/"
        ><img src="../../../assets/instagram.png" id="instagram"
      /></a>
      <a href="https://twitter.com/juanpcabral"
        ><img src="../../../assets/twitter.png" id="twitter"
      /></a>
      <a href="https://github.com/jpcdigital/ProyectoIntegrador_CabralJuanPablo"
        ><img src="../../../assets/github.png" id="github"
      /></a>

      <button
        type="button"
        class="btn btn-outline-light"
        (click)="login()"
        *ngIf="!isLogged"
      >
        INGRESO
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        CERRAR SESION
      </button>
    </div>
  </div>
</div>
