.row{
    background-color:#E7E7E7;
}

footer{
    padding: 10px;
    color: #000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}